{% extends 'base.html.twig' %}

{% block container %}
  <a href="{{ path('app_role') }}" class="btn btn-secondary">&laquo;&nbsp; 返回</a>

  {{ form(form, {attr: {class: 'mt-3'}}) }}
{% endblock %}
